:root {
    --color-brand: 246 59 0;
    --color-alt: 17 17 17;
    --color-brand-rgb: rgb(246, 59, 0);
    --color-alt-rgb: rgb(17, 17, 17);
}


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        font-family: 'Space Grotesk', sans-serif;
        @apply bg-alt;
        @apply text-white;
        
     } 

     .navbar {
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(16px);
        background-color: rgba(53, 53, 53, 0.08);
        @apply border-b;
        @apply border-[#f4f4f40f];
     }

    .common-section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .img-fluid {
        max-width: 100%;
    }

    .section-title {
        @apply text-3xl;
        @apply font-extrabold;
        @apply text-brand;
    }

  
    .btn-brand {
        @apply bg-brand;
        @apply text-white;
        @apply px-5;
        @apply md:px-10;
        @apply py-2;
        @apply rounded-full;

    }
    .btn-brand:hover {
        @apply bg-[#db3602];
    }
    .btn-alt {
        @apply border-brand;
        @apply border-2;
        @apply text-white;
        @apply px-20;
        @apply md:px-10;
        @apply py-2;
        @apply rounded-xl;
       
    }

    .btn-google {
        @apply bg-white;
        @apply outline-brand;
        @apply text-black;
        @apply px-5;
        @apply md:px-10;
        @apply py-1;
        @apply rounded-full;
    }

    .btn-alt:hover {
        @apply translate-x-1.5;
    }
    .btn-brand-outline {
        @apply border-brand;
        @apply border-10;
        @apply text-brand;
    }
    .btn-brand-outline:hover {
        @apply shadow-md;
    }
    

    .text-link {
        @apply inline-flex;
        @apply items-center;
       
    }

    .text-link:hover{
        @apply text-brand;
    }

    .hero-bg {
        border-radius: 19px;
        background: linear-gradient(180deg, #FF3D00 0%, #9F2D09 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .in-shadow {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .career-shape {
        border-radius: 44px;
        border: 1px solid #404040;
        @apply bg-alt/80;
        box-shadow:  0px 10px 7.2px 3px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        width: 25rem;
        height: 10rem;
        /* @apply px-10;
        @apply py-5; */
          
    }

    .form-input {
        border-radius: 10px;
        border: 1px solid rgb(64, 64, 64);
        @apply bg-alt/80;
        box-shadow:  0px 10px 7.2px 3px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        @apply w-64;
        @apply h-12;
        @apply md:w-96;
        @apply md:h-12;
        @apply focus:border-brand;      
        @apply hover:border-brand;      
    }

    .goal-container {
        border-radius: 10px;
        border: 1px solid rgb(64, 64, 64);
        @apply bg-alt/20;
        box-shadow:  0px 10px 7.2px 3px rgba(0, 0, 0, 0.25) inset, 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
        @apply p-10;
        @apply h-80;
        @apply md:h-52;
        @apply focus:border-brand;      
        @apply hover:border-brand;      
    }
}